
<footer>
    <!-- Footer Start-->
    <div class="footer-area footer-bg footer-padding">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                   <div class="single-footer-caption mb-50">
                     <!-- logo -->
                     <div class="footer-logo">
                     <a (click)="Home()"><img src="./../../assets/img/logo/logo.png" alt=""></a>
                     </div>
                     <div class="single-footer-caption mb-30">
                         <div class="footer-tittle">
                             <div class="footer-pera">
                                 <p>Seddo eiusmod tempor incididunt ut labore et dolore magna aliqua. consectetur pisicin elit, sed do eiusmod tempor.</p>
                            </div>
                         </div>
                     </div>
                     <!-- footer social -->
                     <div class="footer-social">
                         <a href="#"><i class="fab fa-facebook-f"></i></a>
                         <a href="#"><i class="fab fa-twitter"></i></a>
                         <a href="#"><i class="fas fa-globe"></i></a>
                         <a href="#"><i class="fab fa-behance"></i></a>
                     </div>
                   </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-5">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Company</h4>
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="about.html"> About Us</a></li>
                                <li><a href="#">Browse Pets</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-5">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Services</h4>
                            <ul>
                                <li><a href="#">O’Connor Group</a></li>
                                <li><a href="#">Our Business Model</a></li>
                                <li><a href="#">Our Lawyers Team</a></li>
                                <li><a href="#"> Most Recent Cases</a></li>
                                <li><a href="#"> Hot Lawyers News</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-5 col-sm-5">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Newsletter</h4>
                            <div class="footer-pera footer-pera2">
                             <p>For Lastest update Sign up here</p>
                         </div>
                         <!-- Form -->
                         <div class="footer-form" >
                             <div id="mc_embed_signup">
                                 <form target="_blank"  class="subscribe_form relative">
                                     <input type="email" name="email" id="newsletter-form-email" placeholder="Email Address"
                                     class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                                     onblur="this.placeholder = ' Email Address '" #InputEmail>
                                     <div class="submit-btn">
                                         <button type="submit" name="submit" 
                                         class="email_icon newsletter-submit button-contactForm submitZoom"
                                         (click)="suscribtion(InputEmail)">
                                     
                                         Subscribe <i class="ti-angle-double-right"></i></button>
                                     </div>
                                     <div class="mt-10 info"></div>        
                                 </form>
                             </div>
                         </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-bottom aera -->
    <div class="footer-bottom-area footer-bg">
        <div class="container">
            <div class="footer-border">
                 <div class="row d-flex align-items-center">
                     <div class="col-xl-12">
                         <div class="footer-copy-right text-center">
                             <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | <a href="https://colorlib.com" target="_blank">Eric Vofack</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                         </div>
                     </div>
                 </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
</footer>

<ngx-spinner
            bdColor= "rgba(151,149,149,0.4)"
            size="large"
            color="#29b1c9"
            type="ball-clip-rotate-pulse"

            >
</ngx-spinner>
