<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<a class="gotopbtn leftConer wow fadeInDown" data-wow-duration="1.2s" data-wow-delay=".2s"  data-aos="zoom-in" style="background-color: #29b1c9;cursor:pointer;" (click)="openModal(templateWhasap)"> 
    <i class="fa fa-whatsapp" style="font-size:36px"></i>
</a>


<!-- templateWhasap -->
<ng-template #templateWhasap>

    <div class="modal-header" style="background-color: #29b1c9;">
   
      <!-- <h4 class="modal-title pull-left" style="font-size: 10px !important;">Contact us</h4> -->
      <h4 class="modal-title pull-left " data-wow-duration="1.2s" data-wow-delay=".5s" data-aos="fade-right" data-aos-offset="500"
      data-aos-duration="1500">Contact</h4>
      <button type="button" class="close pull-rigth" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
   
    </div>
   
    <div class="modal-body">
       <p>Vous souhaitez nous contacter ?</p>
        <p>Vous serez redirigé vers une autre application !</p>
    </div>
   
    <div class="modal-footer">
   
        <a class="boxed-btn4-xs submitZoom pull-left h-15" (click)="openWhasap()">Oui</a>
        <a class="boxed-btn4-red-xs submitZoom pull-rigth h-15" (click)="modalRef.hide()">Non</a>
    </div>
   
   </ng-template>
   <!-- / templateWhasap  -->
