

<app-book></app-book>

<main>                            

        <!-- slider Area Start-->
        <div class="slider-area ">
            <div class="slider-active align-items-center">
                <!-- Single Slider -->
                <div class="single-slider slider-height d-flex align-items-center bg">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-9 col-lg-9 col-md-9">
                                <div class="hero__caption">
                                    <p data-animation="fadeInUp" data-delay=".6s" style="padding-left: 150px;">Avocats spécialisés en immigration</p>
                                    <h1 data-animation="fadeInUp" data-delay=".4s" style="color: white; padding-left: 150px;" >
                                        50$/30 Min<br>
                                        100$/heure<br>
                                        Mensuel: 300$<br>
                                        Annuel: 1000$ 
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class=" d-none d-lg-block">
                        <div class="slider-bottom"  >
                            <div class="slider-bottom-cap" >
                                <p>Schedule a Free Consultation 24/7</p>
                                <span>001 514 999 2242</span>
                            </div>
                            <div class="slider-video d-flex align-items-center" >
                                <a class="popup-video ani-btn" href="https://www.youtube.com/watch?v=oXg17NNRc8U">
                                <img src="./../../assets/img/icon/video_btn.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>     
        </div> 

        <!-- <div class="slider-area ">
            <div class="slider-active align-items-center">
                <div class="single-slider slider-height d-flex align-items-center d-block d-lg-none" style="margin: 0px !important; padding: 0px !important;">
                    <div class="slider-bottom"  >
                        <div class="slider-bottom-cap" >
                            <p>Schedule a Free Consultation 24/7</p>
                            <span>001 514 999 2242</span>
                        </div>
                        <div class="slider-video d-flex align-items-center" >
                            <a class="popup-video ani-btn" href="https://www.youtube.com/watch?v=oXg17NNRc8U">
                            <img src="./../../assets/img/icon/video_btn.png" alt="">
                            </a> 
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <br>
        <br>

        <!-- large screen -->
         <div class="video-container d-none d-sm-block">
                    <!--Section Tittle  -->
                    <div class="row ">
                        <div class="col-xl-12">
                            <div class="section-tittle text-center mb-70" data-wow-duration="1s" data-wow-delay=".3s" data-aos="zoom-in">
                                <h2>Les cles pour reussir son projet d'immigration au cananda</h2>
                            </div>
                        </div>
                    </div>
                    <!-- single items -->
                    <iframe 
                    width="1000" 
                    height="315" 
                    src="https://www.youtube.com/embed/covooklRdTQ"
                    title="YouTube video player" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
                    </iframe>
        
        </div>
        <!-- / large screen -->
        <!-- mobile screen -->
        <div class="video-container d-block d-sm-none hidden-on-lgScreen">
                    <!--Section Tittle  -->
                    <div class="row ">
                        <div class="col-xl-12">
                            <div class="section-tittle text-center mb-70" data-wow-duration="1s" data-wow-delay=".3s" data-aos="zoom-in">
                                <h3><strong>LES CLES POUR REUSSIR SON PROJET D'IMMIGRATION AU CANADA</strong></h3>
                            </div>
                        </div>
                    </div>
                    <!-- single items -->
                    <iframe 
                    width="415" 
                    height="315" 

                    src="https://www.youtube.com/embed/covooklRdTQ"
                    title="YouTube video player" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
                    </iframe>
        </div>
        
        <!-- / mobile screen -->
        <!-- slider Area End-->

        <!-- Legal Practice Area start -->
        <div class="legal-practice-area section-padding30">
            <div class="container">
                  <!--Section Tittle  -->
                <div class="row ">
                    <div class="col-xl-12">
                        <div class="section-tittle text-center mb-70" data-wow-duration="1s" data-wow-delay=".3s" data-aos="zoom-in">
                            <h3 class="d-block d-lg-none"><strong>NOS SERVICES</strong></h3>
                            <h2 class="d-none d-lg-block"><strong>NOS SERVICES</strong></h2>
                        </div>
                    </div>
                </div>
                <!-- single items -->
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-practice mb-30 d-block d-lg-none">
                            <div class="practice-img">
                                <img src="./../../assets/img/imi/immi1.png" alt="">

                                <!-- "practice-icon-->
                                <div class="practice-icon">
                                    <i class="flaticon-care"></i>
                                </div>
                            </div>
                            <div class="practice-caption">
                                <a href="#"><h5>IMMIGRATION ECONOMIQUE</h5></a>
                                <p>	•	TRAVAILLEURS QUALIFIES DU QUEBEC</p>
                                <p> •	ENTREE EXPRESS
                                <p> •	PROGRAMME DU CANADA ATLANTIQUE.
                                <p> •	TRAVAILLEURS ETRANGERS TEMPORAIRES.
                            </div>
                        </div>




                        <div class="single-practice mb-30 d-none d-lg-block" data-wow-duration="1.2s" data-wow-delay=".5s" data-aos="fade-right" data-aos-offset="500"
                        data-aos-duration="1500">
                            <div class="practice-img">
                                <img src="./../../assets/img/imi/immi1.png" alt="">

                                <!-- "practice-icon-->
                                <div class="practice-icon">
                                    <i class="flaticon-care"></i>
                                </div>
                            </div>
                            <div class="practice-caption">
                                    <a href="#"><h5>IMMIGRATION ECONOMIQUE</h5></a>
                                    <p>	•	TRAVAILLEURS QUALIFIES DU QUEBEC</p>
                                    <p> •	ENTREE EXPRESS
                                    <p> •	PROGRAMME DU CANADA ATLANTIQUE
                                    <p> •	TRAVAILLEURS ETRANGERS TEMPORAIRES.
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-practice mb-30" >
                            <div class="practice-img">
                                <img src="./../../assets/img/imi/immi2.png" alt="">

                                <!-- "practice-icon-->
                                <div class="practice-icon">
                                    <i class="flaticon-care"></i>
                                </div>
                            </div>
                            <div class="practice-caption">
                                <h5><a href="#">VISAS</a></h5>
                                <P>• visa visiteur et renouvellement du visa visiteur</P>
                                <P>• Visa etudiant et renouvellement du visa etudiant.</P>
                            </div>
                        </div>
                        <div class="single-practice mb-30 d-none d-block d-lg-none" data-wow-duration="1.2s" data-wow-delay=".5s" data-aos="zoom-in" data-aos-offset="500"
                        data-aos-duration="1500">
                            <div class="practice-img">
                                <img src="./../../assets/img/imi/immi1.png" alt="">

                                <!-- "practice-icon-->
                                <div class="practice-icon">
                                    <i class="flaticon-care"></i>
                                </div>
                            </div>
                            <div class="practice-caption">
                                    <a href="#"><h5>IMMIGRATION ECONOMIQUE</h5></a>
                                    <p>	•	TRAVAILLEURS QUALIFIES DU QUEBEC</p>
                                    <p> •	ENTREE EXPRESS
                                    <p> •	PROGRAMME DU CANADA ATLANTIQUE
                                    <p> •	TRAVAILLEURS ETRANGERS TEMPORAIRES.
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-practice mb-30 d-block d-lg-none">
                            <div class="practice-img">
                                <img src="./../../assets/img/imi/immi3.webp" alt="">

                                <!-- "practice-icon-->
                                <div class="practice-icon">
                                    <i class="flaticon-care"></i>
                                </div>
                            </div>
                            <div class="practice-caption">
                                <h5><a href="#">IMMIGRATION</a></h5>  
                                <p>• PARRAINAGE DES EPOUX, CONJOINTS DE FAIT, ENFANTS A CHARGE
                                <p>• PARRAINAGE DES PARENTS, GRANDS PARENTS</p>
                                <p>• DEMANDEURS D ASILE A L INTERIEUR DU CANADA</p>
                                <p>• DEMANDEURS D ASILE PROVENANT DES ETATS-UNIS D AMERIQUE.</p>
                            </div>
                        </div>




                        <div class="single-practice mb-30 d-none d-lg-block" data-wow-duration="1.2s" data-wow-delay=".5s" data-aos="fade-left" data-aos-offset="500"
                        data-aos-duration="1500">
                            <div class="practice-img">
                                <img src="./../../assets/img/imi/immi3.webp" alt="">

                                <!-- "practice-icon-->
                                <div class="practice-icon">
                                    <i class="flaticon-care"></i>
                                </div>
                            </div>
                            <div class="practice-caption">
                                <h5><a href="#">IMMIGRATION</a></h5>  
                                <p>• PARRAINAGE DES EPOUX, CONJOINTS DE FAIT, ENFANTS A CHARGE
                                <p>• PARRAINAGE DES PARENTS, GRANDS PARENTS</p>
                                <p>• DEMANDEURS D ASILE A L INTERIEUR DU CANADA</p>
                                <p>• DEMANDEURS D ASILE PROVENANT DES ETATS-UNIS D AMERIQUE.</p>
                            </div>
                        </div>
                    </div>
                </div>

            <!-- single items -->
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-practice mb-30 d-block d-lg-none">
                        <div class="practice-img">
                            <img src="./../../assets/img/imi/immi1.png" alt="">

                            <!-- "practice-icon-->
                            <div class="practice-icon">
                                <i class="flaticon-care"></i>
                            </div>
                        </div>
                        <div class="practice-caption">
                            <a href="#"><h5>DROIT DU LOGEMENT</h5></a>
                            <p>	•	les droits des locataires</p>
                            <p> •	les droits des proprietaires</p>
                        </div>
                    </div>




                    <div class="single-practice mb-30 d-none d-lg-block" data-wow-duration="1.2s" data-wow-delay=".5s" data-aos="fade-right" data-aos-offset="500"
                    data-aos-duration="1500">
                        <div class="practice-img">
                            <img src="./../../assets/img/imi/immi1.png" alt="">

                            <!-- "practice-icon-->
                            <div class="practice-icon">
                                <i class="flaticon-care"></i>
                            </div>
                        </div>
                        <div class="practice-caption">
                                <a href="#"><h5>DROIT DU LOGEMENT</h5></a>          
                                <p>	•	les droits des locataires</p>
                                <p> •	les droits des proprietaires</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-practice mb-30" >
                        <div class="practice-img">
                            <img src="./../../assets/img/imi/immi2.png" alt="">

                            <!-- "practice-icon-->
                            <div class="practice-icon">
                                <i class="flaticon-care"></i>
                            </div>
                        </div>
                        <div class="practice-caption">
                            <h5><a href="#">ASSERMENTATION DE DOCUMENTS</a></h5>
                            <P>• visa visiteur et renouvellement du visa visiteur</P>
                            <P>• Visa etudiant et renouvellement du visa etudiant.</P>
                        </div>
                    </div>
                    <div class="single-practice mb-30 d-none d-block d-lg-none" data-wow-duration="1.2s" data-wow-delay=".5s" data-aos="zoom-in" data-aos-offset="500"
                    data-aos-duration="1500">
                        <div class="practice-img">
                            <img src="./../../assets/img/imi/immi1.png" alt="">

                            <!-- "practice-icon-->
                            <div class="practice-icon">
                                <i class="flaticon-care"></i>
                            </div>
                        </div>
                        <div class="practice-caption">
                                <a href="#"><h5>DROIT DE LA FAMILLE</h5></a>
                                           
                                <p>	•	droit de visite.</p>
                                <p> •	autorite parentale</p>
                                <p> •	pension alimentaire.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-practice mb-30 d-block d-lg-none">
                        <div class="practice-img">
                            <img src="./../../assets/img/imi/immi3.webp" alt="">

                            <!-- "practice-icon-->
                            <div class="practice-icon">
                                <i class="flaticon-care"></i>
                            </div>
                        </div>
                        <div class="practice-caption">
                            <h5><a href="#">IMMIGRATION</a></h5>  
                            <a href="#"><h5>DROIT DE LA FAMILLE</h5></a>
                                           
                            <p>	•	droit de visite.</p>
                            <p> •	autorite parentale</p>
                            <p> •	pension alimentaire.</p>
                        </div>
                    </div>




                    <div class="single-practice mb-30 d-none d-lg-block" data-wow-duration="1.2s" data-wow-delay=".5s" data-aos="fade-left" data-aos-offset="500"
                    data-aos-duration="1500">
                        <div class="practice-img">
                            <img src="./../../assets/img/imi/immi3.webp" alt="">

                            <!-- "practice-icon-->
                            <div class="practice-icon">
                                <i class="flaticon-care"></i>
                            </div>
                        </div>
                        <div class="practice-caption">
                            <a href="#"><h5>DROIT DE LA FAMILLE</h5></a>
                                           
                            <p>	•	droit de visite.</p>
                            <p> •	autorite parentale</p>
                            <p> •	pension alimentaire.</p>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>


            </div>
        
        <!-- Legal Practice Area End-->

        <!-- About Law Start-->
        <div class="about-low-area about-bg about-padding">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-5">
                        <!-- section tittle -->
                        <div class="section-tittle section-tittle-l mb-70" data-wow-duration="1.2s" data-wow-delay=".5s" data-aos="zoom-in" data-aos-offset="500"
                        data-aos-duration="1500">
                            <h3 class="d-block d-lg-none" data-wow-duration="1.2s" data-wow-delay=".5s" data-aos="zoom-in" data-aos-offset="500" data-aos-duration="1500"><strong>A PROPOS DE NOUS</strong></h3>
                            <h2 class="d-none d-lg-block" data-wow-duration="1.2s" data-wow-delay=".5s" data-aos="zoom-in" data-aos-offset="500" data-aos-duration="1500">A Propos De Nous</h2>
                        </div>
                        <div class="about-caption mb-100">
                            <p>Pour en savoir plus sur la procedure d'immigration, vos droits en tant que locataire et vos droits en tant que proprietaire, ou si vous etes un parent en situation de divorce aux prises avec les questions de garde d'enfants. veuillez contacter nous contacter au +1 5149992242 ou assister a nos webinair.</p>
                           <!-- Counter Up -->
                            <div class="count-clients">
                                <div class="single-counter text-center">
                                    <span class="counter">{{projectcount}}</span>
                                    <p>Clients satisfaits</p>
                                </div>
                                <div class="single-counter text-center">
                                    <span class="counter">{{clientcount}}</span>
                                    <p>Cas gagnes</p>
                                </div>
                           </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7">
                        <!-- about-img -->
                        <div class="about-img d-none d-lg-block" data-wow-duration="1.2s" data-wow-delay=".5s" data-aos="fade-left" data-aos-offset="500"
                        data-aos-duration="1500">
                            <div class="about-font-img f-left">
                                <img src="./../../assets/img/team/ornel.jpg" alt=""  height="310" class="img-fluid">
                            </div>
                            <div class="about-back-img f-right d-none d-md-block">
                                <img src="./../../assets/img/about/about-low-back.jpg" alt="">
                            </div>
                        </div>




                        <div class="about-img d-block d-lg-none">
                            <div class="about-font-img f-left">
                                <img src="./../../assets/img/team/ornel.jpg" alt=""  height="310" class="img-fluid">
                            </div>
                            <div class="about-back-img f-right d-none d-md-block">
                                <img src="./../../assets/img/about/about-low-back.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Law End-->

        <!-- Contact form Start -->
        <div class="contact-form bg-height pb-160 contact_bg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 offset-lg-2 offset-xl-2">
                        <div class="form-wrapper" >
                        <!--Section Tittle  -->
                            <div class="row ">
                                <div class="col-xl-12">
                                    <div class="section-tittle section-tittle-f text-center mb-70" data-wow-duration="1s" data-wow-delay=".3s" data-aos="zoom-in">
                                        <h2>Souscription</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-box user-icon mb-30">
                                        <input type="text" name="name" placeholder="Nom">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-box email-icon mb-30">
                                        <input type="text" name="email" placeholder="Telephone">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-box subject-icon mb-30">
                                        <input type="Email" name="subject" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-box message-icon mb-30">
                                        <textarea name="message" id="message" placeholder="Votre Message" #InputMessage></textarea>
                                    </div>
                                   <div class="submit-info">
                                        <button class="submit-btn2 submitZoom" type="submit" (click)="suscribtion(InputMessage)">Soumettre maintenant</button>
                                   </div>
                                </div>
                            </div>
                            <!-- </form> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact form End -->

        <!-- Recent-case-area Start -->
        <!-- <section class="recent-case-area section-padding30"> -->
            <!-- <div class="container">
                <div class="row " data-wow-duration="1s" data-wow-delay=".3s" data-aos="zoom-in">
                    <div class="col-xl-12">
                        <div class="section-tittle text-center mb-70">
                            <h2>Autres Services</h2>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-xl-6 col-lg-6">
                        <div class="properties__button">
                            <nav>                                                                     
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Vehicle Accident</a>
                                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"> Health Law</a>
                                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Insurance Law </a>
                                    <a class="nav-item nav-link" id="nav-last-tab" data-toggle="tab" href="#nav-last" role="tab" aria-controls="nav-contact" aria-selected="false"> Bankruptcy</a>
                                </div>
                            </nav>
                         </div>
                    </div>
                </div> -->
                    <!-- Nav Card -->
                    <!-- <div class="tab-content" id="nav-tabContent">

                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-practice mb-30 d-none d-lg-block" data-wow-duration="1.2s" data-wow-delay=".5s" data-aos="fade-right" data-aos-offset="500"
                                    data-aos-duration="1500">
                                        <div class="practice-img">
                                            <img src="./../../assets/img/imi/immi1.png" alt="">
                                            <div class="practice-icon">
                                                <span>Accidental</span>
                                            </div>
                                        </div>
                                        <div class="practice-caption2">
                                            <h5>Car Accident Insurance Critical Case</h5>
                                            <p>Lorem ipsum dolor sit amet, tetur adipiscing elit, sed do eiusmodmpor incididunt ut labore.</p>
                                            <a href="case_details.html" class="read-more1">Read more</a>
                                        </div>
                                    </div>


                                    <div class="single-practice mb-30 d-block d-lg-none">
                                        <div class="practice-img">
                                            <img src="./../../assets/img/imi/immi1.png" alt="">
                                            <div class="practice-icon">
                                                <span>Accidental</span>
                                            </div>
                                        </div>
                                        <div class="practice-caption2">
                                            <h5>Car Accident Insurance Critical Case</h5>
                                            <p>Lorem ipsum dolor sit amet, tetur adipiscing elit, sed do eiusmodmpor incididunt ut labore.</p>
                                            <a href="case_details.html" class="read-more1">Read more</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-practice mb-30">
                                        <div class="practice-img">
                                            <img src="./../../assets/img/imi/immi2.png" alt="">
                                            <div class="practice-icon">
                                                <span>Devorce</span>
                                            </div>
                                        </div>
                                        <div class="practice-caption2">
                                            <h5>Legal Separation & Devorce Case</h5>
                                            <p>Lorem ipsum dolor sit amet, tetur adipiscing elit, sed do eiusmodmpor incididunt ut labore.</p>
                                            <a href="case_details.html" class="read-more1">Read more</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-practice mb-30 d-none d-lg-block" data-wow-duration="1.2s" data-wow-delay=".5s" data-aos="fade-left" data-aos-offset="500"
                                    data-aos-duration="1500">
                                        <div class="practice-img">
                                            <img src="./../../assets/img/imi/immi3.webp" alt="">
                                            <div class="practice-icon">
                                                <span>Study</span>
                                            </div>
                                        </div>
                                        <div class="practice-caption2">
                                            <h5>Boys Case Study Critical Family Case</h5>
                                            <p>Lorem ipsum dolor sit amet, tetur adipiscing elit, sed do eiusmodmpor incididunt ut labore.</p>
                                            <a href="case_details.html" class="read-more1">Read more</a>
                                        </div>
                                    </div>




                                    <div class="single-practice mb-30 d-block d-lg-none">
                                        <div class="practice-img">
                                            <img src="./../../assets/img/imi/immi3.webp" alt="">
                                            <div class="practice-icon">
                                                <span>Study</span>
                                            </div>
                                        </div>
                                        <div class="practice-caption2">
                                            <h5>Boys Case Study Critical Family Case</h5>
                                            <p>Lorem ipsum dolor sit amet, tetur adipiscing elit, sed do eiusmodmpor incididunt ut labore.</p>
                                            <a href="case_details.html" class="read-more1">Read more</a>
                                        </div>
                                    </div>                      
                                </div>
                            </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-practice mb-30">
                                        <div class="practice-img">
                                            <img src="./../../assets/img/imi/immi2.png" alt="">
                                            <div class="practice-icon">
                                                <span>Devorce</span>
                                            </div>
                                        </div>
                                        <div class="practice-caption2">
                                            <h5>Legal Separation & Devorce Case</h5>
                                            <p>Lorem ipsum dolor sit amet, tetur adipiscing elit, sed do eiusmodmpor incididunt ut labore.</p>
                                            <a href="case_details.html" class="read-more1">Read more</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-practice mb-30">
                                        <div class="practice-img">
                                            <img src="./../../assets/img/imi/immi1.png" alt="">
                                            <div class="practice-icon">
                                                <span>Accidental</span>
                                            </div>
                                        </div>
                                        <div class="practice-caption2">
                                            <h5>Car Accident Insurance Critical Case</h5>
                                            <p>Lorem ipsum dolor sit amet, tetur adipiscing elit, sed do eiusmodmpor incididunt ut labore.</p>
                                            <a href="case_details.html" class="read-more1">Read more</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-practice mb-30">
                                        <div class="practice-img">
                                            <img src="./../../assets/img/imi/immi3.webp" alt="">
                                            <div class="practice-icon">
                                                <span>Study</span>
                                            </div>
                                        </div>
                                        <div class="practice-caption2">
                                            <h5>Boys Case Study Critical Family Case</h5>
                                            <p>Lorem ipsum dolor sit amet, tetur adipiscing elit, sed do eiusmodmpor incididunt ut labore.</p>
                                            <a href="case_details.html" class="read-more1">Read more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-practice mb-30">
                                        <div class="practice-img">
                                            <img src="./../../assets/img/imi/immi3.webp" alt="">
                                            <div class="practice-icon">
                                                <span>Study</span>
                                            </div>
                                        </div>
                                        <div class="practice-caption2">
                                            <h5>Boys Case Study Critical Family Case</h5>
                                            <p>Lorem ipsum dolor sit amet, tetur adipiscing elit, sed do eiusmodmpor incididunt ut labore.</p>
                                            <a href="case_details.html" class="read-more1">Read more</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">f
                                    <div class="single-practice mb-30">
                                        <div class="practice-img">
                                            <img src="./../../assets/img/legal/legal_1.png" alt="">
                                            <div class="practice-icon">
                                                <span>Accidental</span>
                                            </div>
                                        </div>
                                        <div class="practice-caption2">
                                            <h5>Car Accident Insurance Critical Case</h5>
                                            <p>Lorem ipsum dolor sit amet, tetur adipiscing elit, sed do eiusmodmpor incididunt ut labore.</p>
                                            <a href="case_details.html" class="read-more1">Read more</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-practice mb-30">
                                        <div class="practice-img">
                                            <img src="./../../assets/img/legal/legal_2.png" alt="">
                                            <div class="practice-icon">
                                                <span>Devorce</span>
                                            </div>
                                        </div>
                                        <div class="practice-caption2">
                                            <h5>Legal Separation & Devorce Case</h5>
                                            <p>Lorem ipsum dolor sit amet, tetur adipiscing elit, sed do eiusmodmpor incididunt ut labore.</p>
                                            <a href="case_details.html" class="read-more1">Read more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-last" role="tabpanel" aria-labelledby="nav-last-tab">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-practice mb-30">
                                        <div class="practice-img">
                                            <img src="./../../assets/img/imi/immi2.png" alt="">
                                            <div class="practice-icon">
                                                <span>Devorce</span>
                                            </div>
                                        </div>
                                        <div class="practice-caption2">
                                            <h5>Legal Separation & Devorce Case</h5>
                                            <p>Lorem ipsum dolor sit amet, tetur adipiscing elit, sed do eiusmodmpor incididunt ut labore.</p>
                                            <a href="case_details.html" class="read-more1">Read more</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-practice mb-30">
                                        <div class="practice-img">
                                            <img src="./../../assets/img/imi/immi1.png" alt="">
                                            <div class="practice-icon">
                                                <span>Accidental</span>
                                            </div>
                                        </div>
                                        <div class="practice-caption2">
                                            <h5>Car Accident Insurance Critical Case</h5>
                                            <p>Lorem ipsum dolor sit amet, tetur adipiscing elit, sed do eiusmodmpor incididunt ut labore.</p>
                                            <a href="case_details.html" class="read-more1">Read more</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-practice mb-30">
                                        <div class="practice-img">
                                            <img src="./../../assets/img/imi/immi3.webp" alt="">
            
                                            <div class="practice-icon">
                                                <span>Study</span>
                                            </div>
                                        </div>
                                        <div class="practice-caption2">
                                            <h5>Boys Case Study Critical Family Case</h5>
                                            <p>Lorem ipsum dolor sit amet, tetur adipiscing elit, sed do eiusmodmpor incididunt ut labore.</p>
                                            <a href="case_details.html" class="read-more1">Read more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div> -->
                    <!-- End Nav Card -->
                <!-- </div> -->
        <!-- </section> -->
        <!-- Recent-case-area End -->

        <!-- Testimonial Start -->
        <!-- <div class="testimonial-area testimonial-padding testi_bg">
            <div class="container">
                <div class="row ">
                    <div class="col-xl-12">
                        <div class="section-tittle section-tittle-testi text-center mb-45" data-wow-duration="1s" data-wow-delay=".3s" data-aos="zoom-in">
                            <h2>Words From Clients</h2>
                        </div>
                    </div>
                </div>
               <div class="row d-flex justify-content-center">
                    <div class="col-xl-8 col-lg-8 col-md-10">
                        <div class="h1-testimonial-active dot-style">
                            <div class="single-testimonial text-center">
                                <div class="testimonial-caption ">
                                    <div class="testimonial-top-cap">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
                                    </div>
                                    <div class="testimonial-founder  ">
                                        <div class="founder-img">
                                           <img src="./../../assets/img/testmonial/Homepage_testi_1.png" alt="">
                                           <span>Devid jonathan</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-testimonial text-center">
                                <div class="testimonial-caption ">
                                    <div class="testimonial-top-cap">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
                                    </div>
                                    <div class="testimonial-founder  ">
                                        <div class="founder-img">
                                           <img src="./../../assets/img/testmonial/Homepage_testi_1.png" alt="">
                                           <span>Devid jonathan</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-testimonial text-center">
                                <div class="testimonial-caption ">
                                    <div class="testimonial-top-cap">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
                                    </div>
                                    <div class="testimonial-founder  ">
                                        <div class="founder-img">
                                           <img src="./../../assets/img/testmonial/Homepage_testi_1.png" alt="">
                                           <span>Devid jonathan</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
        </div> -->
        <!-- Testimonial End -->


        <!-- Team Mates Start -->
        <div class="teams-area section-padding30">
            <div class="container">
                <div class="row " data-wow-duration="1s" data-wow-delay=".3s" data-aos="zoom-in">
                    <div class="col-xl-12">
                        <div class="section-tittle section-tittle-f text-center mb-70" data-wow-duration="1s" data-wow-delay=".3s" data-aos="zoom-in">
                            <h3 class="d-block d-lg-none"><strong>SERVICES EN IMMIGRATION KWUNING</strong></h3>
                            <h2 class="d-none d-lg-block">ServiceS En Immigration Kwuning</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="single-teams text-center d-none d-lg-block" data-wow-duration="1.2s" data-wow-delay=".5s" data-aos="fade-right" data-aos-offset="500"
                        data-aos-duration="1500">
                            <div class="team-img">
                                <img src="./../../assets/img/team/ornel.jpg" alt="" width="400" height="310" class="img-fluid">
                            </div>
                            <div class="team-caption">
                                <h5><a href="#">Ornella Kwuning</a></h5>
                                <span>Directrice</span>
                            </div>
                        </div>



                        <div class="single-teams text-center d-block d-lg-none">
                            <div class="team-img">
                                <img src="./../../assets/img/team/ornel.jpg" alt=""  height="310" class="img-fluid">
                                
                            </div>
                            <div class="team-caption">
                                <h5><a href="#">Ornella Kwuning</a></h5>
                                <span>Directrice</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="single-teams text-center">
                            <div class="team-img">
                                <img src="./../../assets/img/team/team_4_.jpg" alt="" width="400" height="310" class="img-fluid">
                            </div>
                            <div class="team-caption">
                                <h5><a href="#">Eric  Vofack</a></h5>
                                <span>Responsable IT</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="single-teams text-center d-none d-lg-block" data-wow-duration="1.2s" data-wow-delay=".5s" data-aos="fade-left" data-aos-offset="500"
                        data-aos-duration="1500">
                            <div class="team-img">
                                <img src="./../../assets/img/team/avocat1.jpeg" alt="" class="img-fluid" >
                            </div>
                            <div class="team-caption">
                                <h5><a href="#">Mweze Stone</a></h5>
                                <span>Avocat en droit de l'immigration et administratif</span>
                            </div>
                        </div>




                        <div class="single-teams text-center d-block d-lg-none">
                            <div class="team-img">
                                <img src="./../../assets/img/team/avocat1.jpeg" alt="" class="img-fluid">
                            </div>
                            <div class="team-caption">
                                <h5><a href="#">Mweze Stone</a></h5>
                                <span>Avocat en droit de l'immigration et administratif</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team Mates End-->

        <!-- Want To Work Start -->
        <div class="wantToWork-area w-padding">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-xl-7 col-lg-9 col-md-8">
                        <div class="wantToWork-caption" data-wow-duration="1.2s" data-wow-delay=".5s" data-aos="fade-right" data-aos-offset="500"
                        data-aos-duration="1500">
                            <h2>Obtenez votre réponse en  quelques minutes</h2>
                            <!-- <p>Checking your loan options does not affect your credit score!s</p> -->
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-3 col-md-4">
                       <div class="wantToWork-btn f-right" data-wow-duration="1.2s" data-wow-delay=".5s" data-aos="fade-left" data-aos-offset="500"
                       data-aos-duration="1500">
                            <a href="#" class="btn btn-ans">Commencer<i class="ti-angle-double-right"></i></a>
                       </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Want To Work End -->

</main>
<ngx-spinner
            bdColor= "rgba(151,149,149,0.4)"
            size="large"
            color="#29b1c9"
            type="ball-clip-rotate-pulse"

            >
</ngx-spinner>